.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
}

.input {
  /* border:none; */
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 1rem 2rem 2rem 2rem;
}

.btn {
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: rgba(172, 209, 111, 0.2);
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.tab {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
}

.box {
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  min-width: 8rem;
}

.active {
  background-color: green;
}

.error {
  color: red;
  /* padding: 1rem; */
}

@media screen and (max-width: 800) {
  .App {
    flex-wrap: wrap;
  }
}

.title {
  margin: 3rem;
}

.sub-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
